[Unit]
Description=CaseClosed RFID service
After=serial-getty
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /usr/local/bin/caseClosed/python/rfid.py

[Install]
WantedBy=multi-user.target